<div class="row">
    <div class="col">
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="form-group m-1">
                    <label for="email">email</label>
                    <input
                        type="email"
                        id="email"
                        formControlName="email"
                        class="form-control mg-input"
                    />
                    <label for="password">password</label>
                    <input
                        type="password"
                        id="password"
                        formControlName="password"
                        class="form-control mg-input"
                    />
                </div>
            </div>
            <button class="btn" type="submit">sign in</button>
            <!-- <button class="btn" type="button" (click)="logout()">
                logout
            </button> -->
        </form>
        <span>Not a user? <a class="sign-up-link" routerLink="/sign-up">Register</a></span>
    </div>
</div>
