<nav class="navbar navbar-expand-lg mb-3">
    <div class="container-fluid">
      <div class="logo p-2" routerLink="/home">
        <a class="navbar-left">
            <img src="../../assets/img/logo.PNG" />
        </a>
        <span class="navbar-brand p-2">The Movie App</span>
        <span class="">blah blah</span>
    </div>
    <button
        class="navbar-toggler shadow-none"
        type="button"
        (click)="collapsed = !collapsed"
    >
        &#9776;
    </button>
    <div class="navbar-collapse" [class.collapse]="collapsed">
        <ul class="navbar-nav ms-auto"></ul>
        <ul class="navbar-nav me-5px">
            <li class="nav-item" ngbDropdown>
                <span
                    class="header-link"
                    ngbDropdownToggle
                    routerLink="/sign-in"
                    role="button"
                    *ngIf="!user"
                    >sign in</span
                >
            </li>
            <li class="nav-item" ngbDropdown>
                <span
                    class="header-link"
                    ngbDropdownToggle
                    routerLink="/sign-up"
                    role="button"
                    *ngIf="!user"
                    >sign up</span
                >
            </li>
            <li class="nav-item" ngbDropdown>
                <span
                    class="header-link"
                    ngbDropdownToggle
                    role="button"
                    *ngIf="user"
                    (click)="logout()"
                    >logout</span
                >
            </li>
        </ul>
        <span *ngIf="user">{{ user.nickname }} ({{ user.email }})</span>
    </div>
    </div>
</nav>
