<div class="row">
    <div class="col">
        <form [formGroup]="addReviewForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="form-group m-1">
                    <label for="title">title</label>
                    <input
                        type="text"
                        id="title"
                        formControlName="title"
                        class="form-control"
                    />
                    <label for="body">review</label>
                    <textarea
                        class="form-control"
                        id="body"
                        formControlName="body"
                        rows="3"
                    ></textarea>
                    <label for="rating">rating</label>
                    <select id="rating" formControlName="rating" class="form-control">
                        <option [ngValue]="null" disabled>select...</option>
                        <option
                            class="ratings-option"
                            *ngFor="let rating of ratings"
                            [ngValue]="rating"
                        >{{rating}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
              <button class="btn" type="submit" [disabled]="!addReviewForm.valid">submit</button>
            </div>
        </form>
    </div>
</div>
