<div class="row">
  <div class="col">
    <form [formGroup]="addMovieForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group m-1">
          <label for="title">title</label>
          <input type="text" id="title" formControlName="title" class="form-control"/>
          <label for="director">director</label>
          <input type="text" id="director" formControlName="director" class="form-control"/>
          <label for="year">year</label>
          <input type="number" id="year" formControlName="year" class="form-control"/>
          <label for="total_gross">total gross</label>
          <input type="number" id="total_gross" formControlName="total_gross" class="form-control"/>
          <label for="duration">duration</label>
          <input type="number" id="duration" formControlName="duration" class="form-control"/>
          <label for="parental_rating">parental rating</label>
          <select id="parental_rating" formControlName="parental_rating"  class="form-control">
            <option [ngValue]="null" disabled>select...</option>
            <option class="ratings-option" *ngFor="let rating of ratings" [ngValue]="rating">{{rating}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
