:root {
    --color-black: #28292c;
    --color-grey: #5a5d5f;
    --color-grey-dark: #4e5052;
    --color-red: #ba595a;
    --color-blue: #94d0e7;
}

.app-container {
    font-family: 'Montserrat', sans-serif;
    min-width: 350px;
}

.outer-container {
    background: #000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        var(--color-black),
        var(--color-grey)
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        var(--color-black),
        var(--color-grey)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: var(--color-blue);
    min-height: 100vh;
}
.inner-container {
    display: flex;
    margin: auto;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    letter-spacing: 1px;
    background-color: var(--color-red);
    color: var(--color-black);
}

.home-container {
    padding: 50px inset;
}

.navbar {
    background-color: var(--color-black);
    color: var(--color-red);
    display: flex;
}

.navbar-brand {
    cursor: pointer;
}

.navbar-toggler {
    color: var(--color-red);
}

.navbar-nav {
    flex-direction: row;
}

.nav-item {
    padding: 10px;
    margin: 2px;
}

.logo {
    cursor: pointer;
}

.header-link {
    padding: 2px;
    margin: 2px;
    color: var(--color-red);
    background-color: var(--color-black);
    cursor: pointer;
}

.header-link:hover {
    color: var(--color-black);
    background-color: var(--color-red);
    box-shadow: 0 0 2px 2px var(--color-red);
}

.sign-up-link {
    text-decoration: none;
    color: var(--color-blue);
}

.sign-up-link:hover {
    color: var(--color-red);
}

.form-control {
    background-color: var(--color-black);
    border-color: var(--color-blue);
    color: var(--color-red);
}

.form-control {
    &:focus,
    &:active {
        box-shadow: 0 0 5px 5px var(--color-red);
    }
}

.form-control {
    &:hover,
    &:focus,
    &:active {
        background-color: var(--color-black);
        border-color: var(--color-blue);
        color: var(--color-red);
    }
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:active,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:active,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-red);
    color: var(--color-red);
    -webkit-box-shadow: 0 0 0px 1000px var(--color-black) inset;
    box-shadow: 0 0 0px 1000px var(--color-black) inset;
}

.btn {
    background-color: var(--color-black);
    color: var(--color-blue);
    margin: 5px;
    // box-shadow: none;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--color-blue), 0.25);
}

.btn:active,
.btn:hover {
    background-color: var(--color-blue);
    color: var(--color-black);
}

.btn-outline {
    border: 2px solid black;
    border-color: var(--color-blue);
    background-color: transparent;
}

.card {
    box-shadow: 0px 2px 8px 2px var(--color-red);
    transition: 0.3s;
    background-color: transparent;
    background-clip: border-box;
    border-radius: 10px;
    max-width: 60%;
}

.card:hover {
    box-shadow: 0 4px 16px 4px var(--color-red);
}

.card-img {
    background-color: transparent;
    background-clip: padding-box;
}

.card-container {
    padding: 2px 16px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.card-text {
    padding: 2px 16px;
    margin: auto;
    justify-content: center;
}

.profile-title {
    display: flex;
    justify-content: center;
    color: var(--color-blue);
}

.profile-card {
    background-clip: padding-box;
    padding: 3px;
    margin: 10px;
    box-shadow: 0px 2px 8px 2px var(--color-red);
    transition: 0.3s;
    border-radius: 10px;
    background-color: var(--color-black);
}

.profile-card:hover {
  box-shadow: 0 4px 16px 4px var(--color-red);
}

.profile-table {
  border: none;
  border-bottom-style: none;
  color: var(--color-red);
}

.profile-table td, tr {
  padding: 5px;

}

.profile-table-category {
  color: var(--color-blue);
}

.dropdown-item {
    color: var(--color-black);
    background-color: var(--color-red);
}

.not-found-wrapper {
  margin: 50px;
}
