.app-container {
    font-family: 'Montserrat', sans-serif;
}

.outer-container {
    background: #000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #28292c,
        #5a5d5f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #28292c,
        #5a5d5f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #94d0e7;
    min-height: 100vh;
}
.inner-container {
    display: flex;
    margin: auto;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    letter-spacing: 1px;
    background-color: #ba595a;
    color: #28292c;
}

.navbar {
    background-color: #28292c;
    color: #ba595a;
    display: flex;
}

.navbar-brand {
    cursor: pointer;
}

.navbar-toggler {
    color: #ba595a;
}

.navbar-nav {
    flex-direction: row;
}

.nav-item {
    padding: 10px;
    margin: 2px;
}

.logo {
    cursor: pointer;
}

.header-link {
    padding: 2px;
    margin: 2px;
    color: #ba595a;
    background-color: #28292c;
    cursor: pointer;
}

.header-link:hover {
    color: #28292c;
    background-color: #ba595a;
    box-shadow: 0 0 2px 2px #ba595a;
}

.sign-up-link {
  text-decoration: none;
  color: #94d0e7;
}

.sign-up-link:hover {
  color: #ba595a;
}

.form-control {
    background-color: #28292c;
    border-color: #94d0e7;
    color: #ba595a;
}

.form-control {
    &:focus,
    &:active {
        box-shadow: 0 0 5px 5px #ba595a;
    }
}

.form-control {
    &:hover,
    &:focus,
    &:active {
        background-color: #28292c;
        border-color: #94d0e7;
        color: #ba595a;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:active,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:active,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #ba595a;
    color: #ba595a;
    -webkit-box-shadow: 0 0 0px 1000px #28292c inset;
    box-shadow: 0 0 0px 1000px #28292c inset;
}

.btn {
    background-color: #28292c;
    color: #94d0e7;
    margin: 5px;
    // box-shadow: none;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(#94d0e7, 0.25);
}

.btn:active,
.btn:hover {
    background-color: #94d0e7;
    color: #28292c;
}

.btn-outline {
    border: 2px solid black;
    border-color: #94d0e7;
    background-color: transparent;
}

.card {
    box-shadow: 0px 2px 8px 2px #bf5758;
    transition: 0.3s;
    background-color: transparent;
    background-clip: border-box;
    border-radius: 10px;
    max-width: 40vw;
    min-width: 40vw;
}

.card:hover {
    box-shadow: 0 4px 16px 4px #ba595a;
}

.card-img {
    background-color: transparent;
    background-clip: padding-box;
}

.card-container {
    padding: 2px 16px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.card-text {
    padding: 2px 16px;
    margin: auto;
    justify-content: center;
}
