<!-- <div class="row">
    <app-sign-up></app-sign-up>
    <hr class="m-1">
    <app-sign-in></app-sign-in>
</div> -->

<div class="row">
    <div class="card-container">
        <div class="card">
            <img class="card-img" src="../../assets/img/movie-guy.png" alt="movie guy" />
            <hr />
            <div class="card-text">
                <b>The Movie App</b>
                <p>COMING SOON</p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="home-container">
        <span class="p-2"
            >while you wait you can
            <button class="btn btn-outline" routerLink="/sign-up">
                create an account
            </button>
            or
            <button class="btn btn-outline" routerLink="/asdf">
                some other unimplemented feature
            </button></span
        >
    </div>
</div>
