<!-- <div class="row">
    <app-sign-up></app-sign-up>
    <hr class="m-1">
    <app-sign-in></app-sign-in>
</div> -->
<div class="home-container">
    <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav">
            <li class="nav-item">
                <span class="header-link" routerLink="/movies">the movie db</span>
            </li>
            <li class="nav-item">
                <span class="header-link" routerLink="./add" style="font-size: 80%"
                    >add a movie to our db</span
                >
            </li>
        </ul>
    </nav>
    <div class="row">
      <router-outlet></router-outlet>
        <div *ngIf="isHomeRoute()"><app-movies [user]="user"></app-movies></div>
    </div>

    <br />
</div>
<!-- <div class="row">
    <div class="home-container">
        <span class="p-2"
            >while you wait you can
            <button class="btn btn-outline" routerLink="/sign-up">
                create an account
            </button>
            or
            <button class="btn btn-outline" routerLink="/asdf">
                some other unimplemented feature
            </button></span
        >
    </div>
</div> -->
